fileTypes: [
    "ys"
    "y86-64"
]

name: "Y86-64"

patterns: [
    {
        begin: "(//|#)"
        end: "$"
        name: "comment.line.y86-64"
    }

    {
        begin: "/\\*"
        end: "\\*/"
        name: "comment.block.y86-64"
    }

    {
        match: "(nop|halt|rrmovq|irmovq|rmmovq|mrmovq|addq|subq|andq|xorq|jmp|jl|jle|je|jne|jge|jg|call|ret|pushq|popq)"
        name: "instructions.y86-64"
    }

    {
        match: "(%rax|%rcx|%rdx|%rbx|%rsp|%rbp|%rsi|%rdi|%r8|%r9|%r10|%r11|%r12|%r13|%r14)"
        name: "registers.y86-64"
    }

    {
        match: "\\("
        name: "parenthesis.opening.y86-64"
    }

    {
        match: "\\)"
        name: "parenthesis.closing.y86-64"
    }

    {
        match: "\\.pos \\d+"
        name: "position.y86-64"
    }

    {
        match: "\\.align \\d+"
        name: "align.y86-64"
    }

    {
        match: "[A-Za-z]+:"
        name: "label.y86-64"
    }
]
scopeName: "source.y86-64"
