fileTypes: [
    "ys"
    "y86-64"
]

name: "Y86-64"

patterns: [
    {
        begin: "(//|#)"
        end: "$"
        name: "comment.line.y86-64"
    }

    {
        begin: "/\\*"
        end: "\\*/"
        name: "comment.block.y86-64"
    }

    {
        match: "(nop|halt|rrmovq|irmovq|rmmovq|mrmovq|addq|subq|andq|xorq|jmp|jl|jle|je|jne|jge|jg|call|ret|pushq|popq)"
        name: "support.function.system.console.tasks.y86-64"
    }

    {
        match: "(%rax|%rcx|%rdx|%rbx|%rsp|%rbp|%rsi|%rdi|%r8|%r9|%r10|%r11|%r12|%r13|%r14)"
        name: "string.quoted.double.y86-64"
    }

    {
        match: "\\.pos \\d+"
        name: "keyword.other.y86-64"
    }

    {
        match: "\\.align \\d+"
        name: "keyword.other.y86-64"
    }

    {
        match: "\\.(quad|long|word|byte)"
        name: "keyword.other.y86-64"
    }

    {
        match: "[A-Za-z]+:"
        name: "label.y86-64"
    }

    {
        match: "\\b(\\$)?(0x)?([+-]?\\d[\\d_]*|(\\d*|[+-])?'([dD][\\d_]+|[hH][0-9a-fA-F_]+|[oO][0-7_]+|[bB][01_]+))\\b"
        name: "constant.numeric.y86-64"
    }
]
scopeName: "source.y86-64"
